.navber {
  height: 3rem;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  position: fixed;
  justify-content: space-between;
  transition: all 0.5s ease-in;
}
.navber img {
  height: 100%;
}
.nav-black {
  background: black;
}
